<div class="menu">
  <a href="#" class="logo"></a>
</div>
<div class="wraper">
  <div class="row">
    <div class="col">
      <h2 class="title">
        <span>Last results</span></h2>

      <ul>
        <li class="list-matches">
          <div class="counter">01</div>
          <div class="content-li">
            <h3>Dinamo - Karpaty</h3>
            <p class="league_name">Premier Liga</p>
            <p class="match_time">Nov 14, 19:30</p>
          </div>
        </li>
        <li class="list-matches">
            <div class="counter">02</div>
            <div class="content-li">
              <h3>Dinamo - Karpaty</h3>
              <p class="league_name">Premier Liga</p>
              <p class="match_time">Nov 14, 19:30</p>
            </div>
          </li>
          <li class="list-matches">
              <div class="counter">03</div>
              <div class="content-li">
                <h3>Dinamo - Karpaty</h3>
                <p class="league_name">Premier Liga</p>
                <p class="match_time">Nov 14, 19:30</p>
              </div>
            </li>
      </ul>
    </div>
    <div class="col">
        <h2 class="title">Last results</h2>
      </div>
  </div>
</div>